# =========================
# Logs
# =========================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =========================
# Node
# =========================
node_modules/
dist/
dist-ssr/
build/

# =========================
# Env files
# =========================
.env
.env.*
!.env.example

# =========================
# Vite
# =========================
.vite

# =========================
# Electron
# =========================
out/
release/
*.asar

# =========================
# Cache
# =========================
.cache/
.tmp/
.temp/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# =========================
# Misc
# =========================
*.local
